* {

  margin: 0;
  text-decoration: none !important;
  list-style: none;
  outline: none;
}

body {

  direction: rtl;
  font-family: 'Lalezar', cursive !important;
  list-style: none;
  display: flex;
}

nav {
  background-color: rgb(243, 239, 233);
  height: 80px;

  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  box-shadow: 0 0 10px rgb(131, 130, 130);

}

.container {
  width: 100vw;


  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  width: 150px;
  height: 150px;
}

.nav-logo .nav-toggle {
  border: none;
  width: 50px;
  height: 50px;
  font-size: 27px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  display: none;
}

.nav-links {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.nav-links .list {
  display: flex;

  align-items: center;
  margin-top: -10px;
}

.nav-links .list li {
  margin: 0 15px;
  font-size: 18px;
}

.nav-socials {
  display: flex;
  align-items: center;
}

.nav-socials li {
  margin: 0 15px;
  font-size: 18px;
}

@media screen and (min-width : 768px) {
  .nav-links {
    height: auto;
  }
}

@media screen and (max-width : 767px) {
  .nav-logo {
    width: 100%;

  }

  .nav-toggle {
    display: block !important;
  }

  .nav-links {
    position: absolute;
    right: 0;
    left: 0;
    top: 65px;
    height: 0;
    overflow: hidden;
    background-color: rgb(214, 224, 224);

  }

  .nav-links .list {
    display: block;
  }

  .nav-links .list li {
    padding: 16px 10px;
    margin-left: 55px;

    margin-top: 1px;
  }

  .nav-socials {
    display: none;
  }

}